*,
*::before,
*::after {
    box-sizing: border-box;
}

/* header */
.header {
    width: 100%;
    display:flex;
    background-color: yellow;
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.logo {
    width: 25%;
}
.center {
    width: 50%;
}
.rendom {
    width: 25%;
}

/* ---------------------- */
/* Main */

.main {
    width: 100%;
    display: flex;
}
.main-left{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
.banner1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: teal;

}

.banner2{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal; 
}

.main-center{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    justify-content: center;
    padding: 20px 0;

}
.tranding-topics{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
    background-color: #fff;
    
    
}
/* ---------------------- */

